* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #6c6c6f;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

section {
  padding: 50px 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rufina", serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border: none;
  background-color: #ff817e;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: uppercase;
  min-width: 170px;
  padding: 20px 15px;
}

.m-auto {
  margin: 0 auto;
}

.header {
  position: relative;
}

.abs-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.nav-bar {
  align-items: flex-end;
}

.nav-logo {
  flex: 0 0 25%;
  max-width: 25%;
}

.logo {
  display: block;
  max-width: 109px;
}

.nav-menu {
  flex: 0 0 75%;
  max-width: 75%;
}

.nav-list {
  position: relative;
}

.nav-list ul {
  display: flex;
}

.nav-list li a {
  color: #263a41;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 20px;
}

.nav-list li a:hover {
  cursor: pointer;
  color: #ff817e;
}

.banner {
  background: url(https://demo.themeies.com/leospa/images/leaf.png) no-repeat
    left center/12.5%;
  padding: 12% 0;
}

.banner .banner_img {
  width: 43.4%;
  position: absolute;
  right: 0;
  top: 0;
}

.banner_content {
  flex: 0 0 50%;
  max-width: 50%;
}

.banner span {
  color: #ff817e;
  display: block;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner h2 {
  width: 540px;
  font-family: "Rufina", serif;
  font-weight: 700;
  color: #1e2528;
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 25px;
}

.banner p {
  color: #555;
  margin-bottom: 50px;
}

.banner-btn {
  border-radius: 50px;
  text-align: center;
}

.banner-btn:hover {
  color: #333;
}

.video-btn {
  color: #555;
  font-size: 15px;
  font-weight: 400;
  margin-left: 15px;
}

.video-btn:hover {
  color: #ff817e;
}

.video-btn i {
  border-radius: 50%;
  background-color: #fcf5ee;
  color: #ff817e;
  display: inline-block;
  line-height: 44px;
  text-align: center;
  margin-right: 10px;
  height: 44px;
  width: 44px;
}

.about {
  position: relative;
  text-align: center;
}

.hoa-1 {
  position: absolute;
  left: 16%;
  top: 0;
  max-width: 160px;
}

.hoa-2 {
  position: absolute;
  right: 135px;
  top: 50%;

  max-width: 88px;
}

.about-content {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.sec-heading {
  margin-bottom: 70px;
  position: relative;
  text-align: center;
}

.sec-heading img {
  max-width: 84px;
  margin: 0 auto 40px;
}

.tagline {
  color: #888;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 0.8;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.about-title {
  color: #1e2528;
  font-size: 42px;
  margin-bottom: 32px;
}

.sec-heading p {
  color: #888;
  margin-bottom: 0;
}

.about-btn {
  border-radius: 50px;
}

.about-btn:hover {
  color: #333;
}

.service-wrap {
  display: flex;
  justify-content: space-between;
}

.service-item {
  position: relative;
}

.service-img {
  width: 460.25px;
  margin-right: 5px;
}

.service-item:hover .service-hover {
  opacity: 1;
  visibility: visible;
}

.service-hover {
  background-color: rgba(255, 129, 126, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
}

.service-hover img {
  margin: 0 auto 20px;
  width: 47px;
}

.service-hover span {
  color: #fff;
  display: block;
  font-family: "Rufina", serif;
  font-weight: 700;
}

.procedures {
  position: relative;
}

.sec-heading .sec-title {
  color: #1e2528;
  font-size: 42px;
  margin-bottom: 32px;
}

.post {
  border: 1px solid #e3e6ea;
  text-align: center;
  transition: all 300ms ease-in-out;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.post:hover .btn {
  background-color: #ff817e;
}

.post img {
  margin-bottom: 35px;
}

.post h4,
.post h4 a {
  color: #263a41;
  font-size: 22px;
}

.post h4 {
  margin-bottom: 22px;
}

.post p {
  margin-bottom: 39px;
}

.btn-round {
  border-radius: 50px;
}

.slide {
  background-color: #fff9f8;
}

.slide-wrap {
  margin: 0 95px;
}

.intro {
  margin-bottom: 30px;
}

.intro p {
  color: #263a41;
  font-family: "Rufina", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 43px;
  text-overflow: inherit;
}

.infor {
  text-align: center;
}

.infor .thumb {
  border-radius: 50%;
  margin-bottom: 22px;
  height: 76px;
  width: 76px;
  margin: 0 auto 45px;
}

.infor p {
  font-size: 22px;
  margin-bottom: 0;
}

.infor p span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.owl-dots {
  text-align: center;
}

.owl-dot {
  background-color: #ffc3c2;
  border: none;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  height: 8px;
  width: 8px;
}

.team {
  padding: 50px 0 100px;
}

.team .single-memb {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.team .single-memb .memb-details {
  width: calc(100% - 60px);
  margin: 0 30px;
  position: absolute;
  background: #fff;
  bottom: -60px;
  padding: 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 20px #f0f0f0;
}

.team .single-memb:hover .memb-social {
  margin-top: 30px;
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease-in-out;
}

.team .single-memb .memb-details h6 {
  color: #263a41;
  font-size: 22px;
  margin-bottom: 0;
}

.team .single-memb .memb-details span {
  display: block;
  margin-bottom: 15px;
}

.team .single-memb .memb-social {
  margin-top: -30px;
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.team .single-memb .memb-social a {
  border: 1px solid #30383b;
  border-radius: 50%;
  color: #30383b;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  height: 30px;
  width: 30px;
}

.team .single-memb .memb-social a:hover {
  background-color: #ff817e;
  border-color: #ff817e;
  color: #fff;
}

.appointment .appointment-wrap figure {
  flex-basis: 40%;
}

figure {
  margin: 0;
}

.appointment .appointment-wrap {
  display: flex;
}

.appointment-form {
  flex-basis: 100%;
  background-color: #fff9f8;
}

.appointment .appointment-form {
  flex-basis: 60%;
  padding-left: 100px;
}

.contact-form {
  max-width: 650px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.appointment-form .form-field.half-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-form .form-field {
  position: relative;
  width: 100%;
}

.appointment-form .form-field.half-width input,
.appointment-form .form-field.half-width .select-field {
  width: 49%;
}

.appointment-form .form-field input,
.appointment-form .form-field textarea,
.appointment-form .form-field select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
}

.btn:hover {
  color: #212529;
}

.contact-left {
  max-width: 33.333333%;
}
.contact-right {
  max-width: 58.333333%;
  margin-left: 8.333333%;
}

.contact address {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  padding-left: 80px;
  position: relative;
  margin-bottom: 1rem;
}

.contact address span {
  background-color: #ff817e;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}

.contact address a {
  color: #888;
  display: block;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
}

.contact-form {
  max-width: 650px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact .contact-form input,
.contact .contact-form textarea {
  border: 1px solid #e3e6ea;
  padding: 10px 20px;
  margin-bottom: 25px;
  width: 100%;
}

.footer {
  background-color: #fff9f8;
  padding: 80px 0 60px;
}

.text-center {
  flex: 1;
  text-align: center;
}

.footer .footer-logo {
  margin: 0 auto;
}

.footer .footer-nav {
  margin: 30px 0;
}

.footer .foo-nav {
  position: relative;
}

.footer .footer-nav li {
  display: inline-block;
}

.footer .footer-nav li a {
  color: #263a41;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 20px;
}

.footer .footer-nav li a:hover {
  color: #ff817e;
}

.footer .footer-social {
  margin-bottom: 30px;
}

.footer .footer-social a {
  border-right: 1px solid #b1b4bb;
  color: #3a414e;
  display: inline-block;
  font-size: 14px;
  line-height: 0.8;
  padding: 0 10px;
}

.footer .footer-social a:hover {
  color: #ff817e;
}

.footer .copyright {
  color: #888;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.footer .copyright a {
  color: #ff817e;
}
